<!DOCTYPE html>
<html ng-app="steamApp">
<head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-controller="ProfileCtrl">

	<h1>Stats</h1>
	<input type="text" name="input" ng-model="steamId" />
	<input type="submit" text="Submit" value="Submit" ng-click="getStats(steamId);" />
	
	<br /><br />

	<h4>{{playerStats.steamID}}</h4>
	<input ng-model="statFilter" />
	<select ng-model="statOrderProperty">
		<option value="name" selected>name</option>
		<option value="value">value</option>
	</select>
	<select ng-model="statOrder">
		<option value="">asc</option>
		<option value="-">desc</option>
	</select>
    <ul>
        <li ng-repeat="stat in playerStats.stats | filter:statFilter | orderBy:getOrder()">
            <span>{{stat.name}}</span> - <span>{{stat.value}}</span>
        </li>
    </ul>

</body>
</html>