<h1>Stats</h1>
<a href="#/player/76561197969877387">Mine</a>
<input type="text" name="input" ng-model="steamId" />
<input type="submit" text="Submit" value="Submit" ng-click="submitHandler(steamId);" />

<br /><br />

<h4>{{playerStats.steamID}}</h4>
<input ng-model="statFilter" />
<select ng-model="statWeaponFilter">
	<option selected value="">Select a weapon</option>
	<option ng-repeat="weap in weapons | orderBy:weap" value="{{weap}}">{{weap}}</option>
</select>
<select ng-model="statOrderProperty">
	<option value="name" selected>name</option>
	<option value="value">value</option>
</select>
<select ng-model="statOrder">
	<option value="">asc</option>
	<option value="-">desc</option>
</select>
<ul>
    <li ng-repeat="stat in playerStats.stats | filter:getFilter() | orderBy:getOrder()">
        <span>{{stat.name}}</span> - <span>{{stat.value}}</span>
    </li>
</ul>